{% extends "./baseMantenedor.html"%}
{% load static %}
{% block body %}


  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(../static/core/img/slide-1.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Cercana al metro
                      <br>
                    </p>
                    <h1 class="intro-title mb-4 ">Departamentos en
                      <span class="color-b">Ñuñoa</span> 
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="../propiedades"><span class="price-a">Arrendar | $ 1.200.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(../static/core/img/slide-2.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Edificios Empresariales
                      <br>
                    </p>
                    <h1 class="intro-title mb-4">Oficinas en
                      <span class="color-b">Las Condes </span>
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="../propiedades"><span class="price-a">Arrendar | $ 1.580.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(../static/core/img/slide-3.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Condominios Privados
                      <br>
                    </p>
                    <h1 class="intro-title mb-4"> Propiedades en
                      <span class="color-b">La Dehesa </span>
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="../propiedades"><span class="price-a">Arrendar | 6500 UF'S</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <div class="container py-5">

<!--servicios-->
<div class="row">
    <div class="col-12">
        <div style="padding-top: 10%;">
            <h1>Nuestros Servicios</h1>
        </div>
    </div>
</div>
</div>
<section class="section-services section-t8">
    <div class="container" style="padding-top: 5%;">
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex justify-content-center">
              <div class="card-box-ico">
                <span class="bi bi-briefcase-fill"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h4 class="title-d">Administracion</h4>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Administracion de propiedades, ahorrate el papeleo con estas bajas comisiones.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-house"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-d">Compra</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Busca tu propiedad perfecta, sabemos lo dificil que es buscar un lugar comodo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-piggy-bank"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-d">Vende</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Vender una propiedad nunca ha sido más facil, nuestro equipo se encargará de todo, dejalo en nuestras manos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- End Services Section -->



{% endblock %}